-- 1. Identity and Access
CREATE TABLE roles (id SERIAL PRIMARY KEY, name VARCHAR(50) UNIQUE NOT NULL);
INSERT INTO roles (name) VALUES ('CADET'), ('CTO'), ('MASTER'), ('SHORE_OFFICER'), ('ADMIN');

CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    email VARCHAR(255) UNIQUE NOT NULL,
    password_hash TEXT NOT NULL,
    role_id INTEGER REFERENCES roles(id),
    first_name VARCHAR(100),
    last_name VARCHAR(100),
    created_at TIMESTAMP DEFAULT NOW()
);

-- 2. Ship Particulars & Setup
CREATE TABLE ship_types (id SERIAL PRIMARY KEY, name VARCHAR(100) UNIQUE NOT NULL);

CREATE TABLE vessels (
    id SERIAL PRIMARY KEY,
    name VARCHAR(200) NOT NULL,
    imo_number VARCHAR(20) UNIQUE NOT NULL,
    ship_type_id INTEGER REFERENCES ship_types(id),
    gross_tonnage INTEGER,
    propulsion_type VARCHAR(200),
    is_active BOOLEAN DEFAULT TRUE
);

-- 3. TRB Task System
CREATE TABLE task_templates (
    id SERIAL PRIMARY KEY,
    section_name VARCHAR(200),
    title VARCHAR(500) NOT NULL,
    stcw_reference VARCHAR(200),
    ship_type_id INTEGER REFERENCES ship_types(id) -- NULL if universal
);

CREATE TABLE cadet_task_instances (
    id SERIAL PRIMARY KEY,
    cadet_id INTEGER REFERENCES users(id),
    vessel_id INTEGER REFERENCES vessels(id),
    task_template_id INTEGER REFERENCES task_templates(id),
    status VARCHAR(50) DEFAULT 'not_started', -- in_progress, submitted, approved, certified
    notes TEXT,
    updated_at TIMESTAMP DEFAULT NOW()
);

-- 4. Logs & Sea Service
CREATE TABLE diary_entries (
    id SERIAL PRIMARY KEY,
    cadet_id INTEGER REFERENCES users(id),
    vessel_id INTEGER REFERENCES vessels(id),
    entry_type VARCHAR(50), -- daily, bridge_watch, engine_watch
    entry_date DATE NOT NULL,
    text TEXT
);

CREATE TABLE vessel_assignments (
    id SERIAL PRIMARY KEY,
    cadet_id INTEGER REFERENCES users(id),
    vessel_id INTEGER REFERENCES vessels(id),
    date_joined DATE NOT NULL,
    date_left DATE
);